<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>Dentist Portal</title>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Some Logo</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">Page Link</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Another Page Link</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Third Page Link</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<main>

		<h1>Stored Information</h1>

		<h2>Dentists</h2>
		<div th:each="dentist: ${dentists}">
			<p th:text="${dentist.firstName} + ' ' + ${dentist.lastName}">This will be the dentist name</p>
			<p th:text="${dentist.email}">This will be the dentist email</p>
			<p th:text="${dentist.phoneNumber}">This will be the dentist phone number</p>
			<div th:each="patient: ${dentist.patients}">
				<p th:text="${patient.firstName} + ' ' + ${patient.lastName}">This will be the patient name</p>
			</div>
		</div>

		<h2>Patients</h2>
		<div th:each="patient: ${patients}">
			<p th:text="${patient.patientNumber}">This will be the patient number</p>
			<p th:text="${patient.firstName} + ' ' + ${patient.lastName}">This will be the patient name</p>
			<p th:text="${patient.dateOfBirth}">This will be the patient date of birth</p>
			<p th:text="${patient.email}">This will be the patient email</p>
			<p th:text="${patient.phoneNumber}">This will be the patient phone number</p>
			<p th:text="${patient.address.addressLine1}">This will be the address first line</p>
			<p th:text="${patient.address.addressLine2}">This will be the address second line</p>
			<p th:text="${patient.address.town}">This will be the town</p>
			<p th:text="${patient.address.county}">This will be the county</p>
			<p th:text="${patient.address.postcode}">This will be the postcode</p>
			<p th:text="${patient.address.country}">This will be the country</p>
		</div>
		
		<a href="/addDentist">Add a Dentist</a>
		<a href="/addAddress">Add an Address</a>
		<a href="/addPatient">Add a Patient</a>

	</main>

	<footer class="container-fluid">
		<ul class="list-inline">
			<li class="list-inline-item">
				<a target="_blank" rel="noopener" href="https://facebook.com"
					aria-label="Visit the Facebook Page (opens in a new tab)">
					<i class="social txt-light fab fa-facebook-f" aria-hidden="true"></i>
				</a>
			</li>
			<li class="list-inline-item">
				<a target="_blank" rel="noopener" href="https://twitter.com"
					aria-label="Visit the Twitter Page (opens in a new tab)">
					<i class="social fab fa-twitter" aria-hidden="true"></i>
				</a>
			</li>
			<li class="list-inline-item">
				<a target="_blank" rel="noopener" href="https://instagram.com"
					aria-label="Visit the Instagram Page (opens in a new tab)">
					<i class="social fab fa-instagram" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
		</script>

	<script src="https://kit.fontawesome.com/2891f43577.js" crossorigin="anonymous"></script>
</body>

</html>